<td class="conversation-compose">
<div class="conversation-compose-header">

	<div class="input-group to address">
	  <span class="input-group-addon">To:</span>
	  <input name="to" type="text" class="form-control autocomplete-address" placeholder="To" value="">
	  <span class="glyphicon glyphicon-lock input-marker" />
	</div>

	<div class="input-group cc address">
	  <span class="input-group-addon">Cc:</span>
	  <input name="cc" type="text" class="form-control autocomplete-address" placeholder="Carbon copy" value="">
	  <span class="glyphicon glyphicon-lock input-marker" />
	</div>

	<div class="input-group bcc address">
	  <span class="input-group-addon">Bcc:</span>
	  <input name="bcc" type="text" class="form-control autocomplete-address" placeholder="Blind carbon copy" value="">
	  <span class="glyphicon glyphicon-lock input-marker" />
	</div>

	<div class="input-group subject">
	  <span class="input-group-addon">Subject:</span>
	  <input type="text" class="form-control" placeholder="Subject" value="<%- model.get('subject') %>">
	</div>
</div>

<div class="conversation-compose-body">
	<textarea class="textarea" />
	<div class="line below-textarea">
	<div class="row">
	<div class="input-group">
		<button class="save btn btn-primary">Save</button>
		<button class="send btn">Send</button>

	    <label class="label label-default send-encrypt" name="sendEncrypt">
	      <input type="checkbox" value="encrypt" <%- model.get('sendEncrypt') ? 'checked' : '' %>>Encrypt
		  <span class="glyphicon glyphicon-lock send-encrypt-marker" />
	    </label>
		
	    <label class="label label-default send-sign">
	      <input type="checkbox" value="sign" <%- model.get('sendSign') ? 'checked' : '' %>>Sign
		  <span class="glyphicon glyphicon-certificate send-sign-marker" />
	    </label>

	    <label class="label label-default send-text-only">
	      <input type="checkbox" value="textOnly" <%- model.get('sendTextOnly') ? 'checked' : '' %>>Text only
		  <span class="glyphicon glyphicon-book send-text-marker" />
	    </label>

		<button class="discard btn btn-warning">Discard</button>
	</div>
	</div>
	</div>	
</div>
</td>

