<div id="keys-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Keys</h4>
      </div>
      <div class="modal-body">
      <div class="key-list">
    	Loading...
      </div>
      <div class="key-add">
      <textarea name="key" class="key-input" />
      <button type="button" class="btn btn-info add">Add Key</button>
      
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->