<div class="container form">

  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please log in</h2>
    <input type="name" class="form-control name" placeholder="name" required autofocus>
    <input type="password" class="form-control password" placeholder="Password" required>
    <label class="checkbox not-implemented">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block submit" type="submit">Log in</button>
  <br/>
  <button class="btn btn-success signup" name="switch">Sign Up!</button>
  </form>

</div> <!-- /container -->

<div class="container activity initially-hidden text-align-center">
		<div class="glyphicon glyphicon-progress"></div>
		<div class="activity-step"></div>
</div>