<div class="container form">

  <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Sign up!</h2>
    <input type="name" class="form-control name" placeholder="name" required autofocus>
    <input type="password" class="form-control password" placeholder="Password" required>
    <label class="checkbox not-implemented">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block submit" type="submit">Sign up!</button>

  <br/>
  <button class="btn btn-success login" name="switch">Log in</button>

<div class="progress not-implemented">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

    
  </form>


</div> <!-- /container -->


<div class="container activity text-align-center">
		<div class="glyphicon glyphicon-progress initially-hidden "></div>
		<div class="activity-step"></div>
</div>